{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block title %}
{# Create a useful, SEO-friendly title tag based on what we have #}
{% if data.piece %}
{{ data.piece.title }}
{% elseif data.page %}
{{ data.page.title }}
{% else %}
{{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
{% endif %}
{% endblock %}

{% block extraHead %}
{% endblock %}

{% block beforeMain %}
<div class="header">
  {{ 
    apos.area(data.page, 'video', {
      widgets:{
        video: {}      
        }
    })
  }}
  <div class="header-separator">
    <img class="separator" src="/assets/header-separator.svg">
    <img class="skis" src="/assets/Skis.svg">
  </div>
  <div class="overlay"></div>
</div>
{% endblock %}

{% block main %}

{% endblock %}

{% block afterMain %}

<div class="details-container">
  <div class="details-top-separator">
    <img src="assets/BannersBottomSeparator.svg">
  </div>
  {{ 
      apos.area(data.global, 'details', {
        widgets:{
          details: {}      
          }
      })
    }}
  <div class="details-bottom-separator">
    <img src="assets/InfoBottomSeparator.svg">
  </div>
</div>

{{ apos.singleton(data.global, 'footer', 'footer') }}

{% endblock %}